<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CVS investment web application">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title> Investment Web App </title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <img src="../static/img/web_logo.png" alt="logo" class="c-logo">
                <h1 style="color: #fff;">CVS</h1>
            </div>
        </nav>
    </header>

    <div class="flex-wrap2"></div>

    <section class="flex-wrap">
        <div>
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </section>

    <script>
        function signinForm(event) {
            var checky = document.getElementById("sign-in");
            var checky2 = document.getElementById("reset");

            if (checky.checked == true) {
                document.getElementById("formy").noValidate = true;
            }
            if (checky2.checked == true) {
                document.getElementById("formy").noValidate = true;
            }
        }
    </script>


    <div class="clr"></div>
</body>

</html>