{% extends "home_layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<form method="post" id="formy">
    <input type="radio" name="rg" id="reset" checked/>

    <label for="reset">Reset Password</label>

    <input class="reset" type="email" placeholder="Email" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a Valid Email ID" required>

    <p id="error-msg"> {{error}} </p>
    <button onclick="signinForm()">Submit</button>

</form>
{% endblock %}